@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: radial-gradient(circle at center, #ff00d4 0%, #7a0066 50%, #1a0016 100%);
  overflow: hidden;
}



